* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  height: 10000px;
  background-color: orange;
}

/* ==========Common=========== */

.container {
  width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  width: 144px;
  height: 50px;
  border-radius: 24.5px;
  background: #171100;
  padding: 11px 41px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
}

/* =========Header============= */

.header {
  background: #fffcf4;
  padding: 13px;
  position: sticky;
  top: 0;
  left: 0;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
}

.header .nav-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header .nav-bar .list-items {
  display: flex;
  gap: 42px;
}

.header .nav-bar .list-items a::before {
  position: relative;
  bottom: -20px;
  left: 0px;
  border-radius: 999px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background-color: #000;
  display: none;
}

.header .nav-bar .list-items a:hover {
  font-weight: 600;
  color: #171100;
}

.header .nav-bar .list-items a:hover::before {
  display: block;
}

.header .nav-bar .list-items a {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .nav-bar .btn {
  margin-left: 70px;
}

/* ======END HEADER========= */
