* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  height: 10000px;
  background-color: orange;
}

/* ==========Common=========== */

.container {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  border-radius: 24.5px;
  background: #171100;
  padding: 0px 41px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 50px;
}

/* =========Header============= */

.header {
  background: #fffcf4;
  padding: 36px 0px 8px 0px;
  position: sticky;
  top: -28px;
  left: 0;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
}

.header .nav-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header .nav-bar .list-items {
  display: flex;
}

.header .nav-bar .list-items li {
  position: relative;
}

.header .nav-bar .list-items a {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 21px;
}

.header .nav-bar .list-items a::before {
  position: absolute;
  bottom: -2px;
  left: 21px;
  border-radius: 999px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background-color: #000;
  display: none;
}

.header .nav-bar .list-items a:hover {
  /* Tăng font-weight khi hover sẽ tạo hiện tượng giật giật => text-shadow để tránh giật */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.header .nav-bar .list-items a:hover::before {
  display: block;
}

.header .nav-bar .btn {
  min-width: 144px;
  margin-left: 70px;
}

/* ======END HEADER========= */
